.public-screen {
  color: #fff;
  background-color: #00a4de;
  height: 100%; }
  .public-screen .header {
    width: 600px;
    max-width: 800px;
    margin: 0 auto;
    padding: 2em 0; }
    .public-screen .header button {
      color: #fff; }
      .public-screen .header button.registration {
        text-decoration: none; }
    .public-screen .header .prokorm {
      font-size: 28px; }
      .public-screen .header .prokorm a {
        text-decoration: none;
        color: #fff; }
        .public-screen .header .prokorm a b {
          font-size: 29px;
          margin-right: 4px; }
      .public-screen .header .prokorm .sub-info {
        text-transform: lowercase;
        letter-spacing: 2px;
        font-size: 12px; }
    .public-screen .header .contact {
      padding-left: 2em;
      font-size: 22px;
      padding-top: 2px; }
      .public-screen .header .contact .sub-info {
        display: block;
        margin-top: 6px;
        font-size: 12px; }
