@import "../variables";
.public-screen {
    color: #fff;
    background-color: #00a4de;
    height: 100%;
    .header {
        width: 600px;
        max-width: 800px;
        margin: 0 auto;
        padding: 2em 0;
        button {
            color: #fff;

            &.registration {
                text-decoration: none;
            }
        }   

        .prokorm {
            font-size: 28px;
            a {
                text-decoration: none;
                color: #fff;
                b {
                    font-size: 29px;
                    margin-right: 4px;
                }
            }
            .sub-info {
                text-transform: lowercase;
                letter-spacing: 2px;
                font-size: 12px;
            }
        } 
        .contact {
            padding-left: 2em;
            font-size: 22px;
            padding-top: 2px;
            .sub-info {
                display: block;
                margin-top: 6px;
                font-size: 12px;
            }
        }
    }

    

}