.md-autocomplete-suggestions-container {
  width: 300px; }
  .md-autocomplete-suggestions-container .md-autocomplete-suggestions li {
    height: 60px;
    line-height: 60px; }
    .md-autocomplete-suggestions-container .md-autocomplete-suggestions li .item-title, .md-autocomplete-suggestions-container .md-autocomplete-suggestions li .item-storage {
      display: block;
      line-height: 2;
      margin: 0;
      padding: 0; }
    .md-autocomplete-suggestions-container .md-autocomplete-suggestions li p {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.54); }

.ration {
  height: 100%; }
  .ration .ration-list {
    font-size: 12px;
    overflow: auto;
    padding-top: 0; }
    .ration .ration-list .ration-item {
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #eee; }
      .ration .ration-list .ration-item.done {
        background-color: #ddd; }
        .ration .ration-list .ration-item.done .ration-target,
        .ration .ration-list .ration-item.done .ration-type {
          opacity: 0.5; }
      .ration .ration-list .ration-item .md-button {
        padding: 0 10px; }
      .ration .ration-list .ration-item.selected {
        background-color: #BBDEFB !important; }
      .ration .ration-list .ration-item button.md-no-style {
        min-height: 68px; }
      .ration .ration-list .ration-item .md-list-item-text {
        margin: 16px 0 6px 0; }
      .ration .ration-list .ration-item b {
        color: #666; }
      .ration .ration-list .ration-item span {
        line-height: 1.8em;
        padding: 0 10px; }
      .ration .ration-list .ration-item .first-line .ration-type {
        background-color: #2196F3;
        color: #fff;
        padding: 4px 8px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.3em;
        height: 2em; }
      .ration .ration-list .ration-item .second-line {
        margin: 12px 0 6px 0; }
        .ration .ration-list .ration-item .second-line .ration-target {
          background-color: #009688;
          color: #fff;
          padding: 1px 8px;
          border-radius: 3px;
          font-size: 12px; }
      .ration .ration-list .ration-item .third-line {
        font-size: 10px;
        color: #999; }
        .ration .ration-list .ration-item .third-line span {
          padding: 0px; }
