.diff-card {
  padding: 0 20px;
  height: 100%;
  overflow: hidden; }
  .diff-card .feed-header {
    padding-top: 12px;
    text-align: right;
    padding-right: 30px; }
    .diff-card .feed-header .feed-composition {
      font-size: 12px; }
    .diff-card .feed-header .feed-storage {
      font-size: 12px; }
  .diff-card .title {
    padding: 1em 0 0;
    line-height: 3em; }
  .diff-card .diff-title {
    color: #3F51B5;
    font-size: 20px;
    padding-bottom: 12px;
    border-bottom: 3px solid #fdae39; }
    .diff-card .diff-title h2 {
      margin-top: 12px;
      font-size: 20px; }
  .diff-card .diff-dashboard {
    /*height: calc(100% - 75px);*/
    overflow: auto; }
    .diff-card .diff-dashboard .mode-description p {
      color: #555;
      font-size: 12px;
      line-height: 20px; }
    .diff-card .diff-dashboard .mode-description h2 {
      font-size: 14px; }
    .diff-card .diff-dashboard ul, .diff-card .diff-dashboard li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 12px; }
    .diff-card .diff-dashboard .root-property {
      font-size: 14px;
      margin: 20px 0 10px 0;
      padding: 0;
      font-weight: normal;
      text-transform: uppercase;
      color: #555555; }
      .diff-card .diff-dashboard .root-property a {
        color: #3F51B5;
        font-size: 12px;
        margin-left: 10px;
        text-transform: initial; }
    .diff-card .diff-dashboard .property-label {
      color: #6a6c6f;
      border-bottom: 1px solid #ddd;
      padding: 6px 2px; }
    .diff-card .diff-dashboard .property-values:hover {
      font-weight: bold; }
      .diff-card .diff-dashboard .property-values:hover .property-value {
        border-bottom: 1px solid #fdae39;
        color: #000; }
      .diff-card .diff-dashboard .property-values:hover .property-label {
        border-bottom: 1px solid #fdae39;
        color: #000; }
      .diff-card .diff-dashboard .property-values:hover .max {
        font-weight: bold;
        color: #fdae39; }
    .diff-card .diff-dashboard .property-values .property-value {
      color: #333;
      padding: 6px 20px;
      min-width: 60px;
      text-align: right;
      border-bottom: 1px solid #DDD;
      /*&.odd {
			    	background-color: #f0f0f0;
			    }*/ }
      .diff-card .diff-dashboard .property-values .property-value .dry-switch {
        padding: 0;
        margin: 0; }

.diff.print {
  background-color: #fff; }
  .diff.print a {
    display: none; }
  .diff.print ul, .diff.print li {
    padding: 0;
    margin: 0;
    color: #000;
    background-color: #fff; }
  .diff.print .print-title {
    margin-bottom: 2em; }
  .diff.print .diff-title h2 {
    color: transparent; }
  .diff.print .diff-title .feed-header {
    font-size: 12px;
    text-align: right; }
  .diff.print .property-list {
    font-size: 12px; }
    .diff.print .property-list .property-values {
      padding: 6px 0;
      border-bottom: 1px solid #999; }
      .diff.print .property-list .property-values .property-value {
        text-align: right; }
        .diff.print .property-list .property-values .property-value .dry-switch .md-container {
          display: none; }
  .diff.print .break {
    page-break-after: always; }
