@import "../../variables";
.ration-edit {
	border: 3px solid $orange;
	padding: 0 20px;
	height: 100%;
	color: #212121;
	.ration-sub-title {
		margin: 1em 0 0 0;
		border-bottom: 2px solid $orange;
		h2 {
			color: #212121;
			font-size: 16px;
			margin-bottom: 1em;
		}
	}
	.ration-info {
		font-size: 12px;
		background: transparent;
		input {
			font-family: Montserrat,sans-serif;
		}
		.ration-property {
			margin-bottom: 0px;
			&._md-datepicker-has-calendar-icon {
				.property-name {
					left: 40px !important;
				}
			}
			
			.date-picker {
				width: 100%;
				display: inline-block;
				padding: 0px;
				margin: 0px;
				.md-datepicker-button {
					margin: 0 0 0 -10px;
				}
				.md-datepicker-input-container {
					width: calc(100% - 40px);
				}
			}
			&.required {
				label {
					color: rgb(255,87,34);
				}
			}
		}
	}
	.ration-view-content {
		overflow: auto;
		.composition {
			font-size: 12px;
			text-align: right;
			background-color: #fdfdfd;
			.scroll-wrapper {
				overflow: auto;
			}
			.component-index {
				width: 40px;
				text-align: left;
				
			}
			.component-name {
				text-align: left;
				input {
					&.ok {
						border-left: 5px solid #009688 ;
					}
					&.kk {
						border-left: 5px solid #f37136 ;
					}
					&.mk {
						border-left: 5px solid #969c28 ;
					}
				}
				a {
					color: #3f51b5;
				}
			}
			.composition-title {
				font-size: 11px;
				padding: 1em 0;
				border-bottom: 2px solid $orange;
				&>div {
					padding: 0 8px;
					line-height: 2em;
				}
				div:first-child {
					padding-left: 16px;
				}
				div:last-child {
					padding-right: 16px;
				}

				.add-component {
					color: rgb(63,81,181);
					margin-left: 1em;
					cursor: pointer;
				}
			}
			.composition-item {
				padding: 8px 0;
				border-bottom: 2px solid #fff;
				line-height: 3em;

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				input[type=number] {
					-moz-appearance:textfield; /* Firefox */
					text-align: right;
				}

				input {
					border: none;
					width: 100%;
					padding: 10px 6px;
					border-bottom: 1px solid #fdae39;
					background-color: #fff;
					color: #555;
					font-family: Montserrat,sans-serif;
				}

				.component-name {
					position: relative;
    				padding-right: 80px;
					input {
						width: 100%;
					}
					.component-type {
						margin: 0;
						position: absolute;
						top: -4px;
						right: 8px;
						.md-select-value {
							min-width: 50px;
							border-bottom-color: #fdae39;
						}
					}
				}

				.component-index {
					.remove-item {
						display: none;
						cursor: pointer;
						color: rgb(255,87,34);
						padding-top: 8px;
						margin-left: -6px;
					}
				}
				input {
					&:disabled {
						background-color: #eee;
						border: none;
					}
				}

				&>div {
					padding: 0 8px;
				}
				&>div:first-child {
					padding-left: 16px;
				}
				&>div:last-child {
					padding-right: 16px;
				}
				&:hover {
					background-color: #fff;
					.component-index.sa {
						span {
							display: none;
						}
						.remove-item {
							display: block;
						}
					}
				}
				&.mk {
					.component-name {
						&:before {
							content: "MK";
							display: inline-block;
							background-color: #969c28;
							border-radius: 4px;
							font-size: 10px;
							padding: 2px 6px;
							color: #f0f0f0;
							margin-right: 0.5em;
						}
					}
				}
				&.kk {
					.component-name {
						&:before {
							content: "KK";
							display: inline-block;
							background-color: #f37136;
							border-radius: 4px;
							font-size: 10px;
							padding: 2px 6px;
							color: #f0f0f0;
							margin-right: 0.5em;
						}
					}
				}
				&.ok {
					.component-name {
						&:before {
							content: "OK";
							display: inline-block;
							background-color: #009688;
							border-radius: 4px;
							font-size: 10px;
							padding: 2px 6px;
							color: #f0f0f0;
							margin-right: 0.5em;
						}
					}
				}
			}
			.empty-ration {
				text-align: center;
				margin: 5em 0;
			}
			.error-box {
				position: absolute;
				bottom: 5em;
				right: 5em;
				width: 250px;
				font-size: 12px;
				text-align: left;
				line-height: 1.5em;
				background-color: #fefefe;
				color: #ff5722;
				border: 2px solid #ff5722;
				border-radius: 4px;
				padding: 4px 8px;
				opacity: 0.8;
			}
		}
	}
	.ration-edit-actions {
		border-top: 3px solid #fdae39;
		padding: 6px 0;
	}

	.distribution {
		.distribution-item {
			border: 1px solid #ccc;
			padding: 0 0.6em;
			border-radius: 5px;
			margin-bottom: 1em;
			position: relative;
			.remove-item {
				right: 5px;
				top: 5px;
				position: absolute;
				cursor: pointer;
				color: #ff5722;
			}
		}
		&.error {
			.distribution-item {
				border-color: #ff5722;
			}
		}
		p.error {
			color: #ff5722;
		}
	}
	.distribution-grid {
		padding: 0 0 0 2em;
		&--title {
			border-bottom: 1px solid #ddd;
			font-weight: bold;
			.first {
				font-weight: bold;
			}
			div {
				border-right: 1px solid #ddd;
				padding: 6px 4px 6px 13px;
			}
			.mixer-column {
				&:nth-child(2n+3) {
					background: #eee;
				}
			}	
		}
		&--by-mixer {
			border-bottom: 1px solid #ddd;
			font-weight: bold;
			.first {
				font-weight: bold;
				border-right: 1px solid #ddd;
				padding: 6px 4px 6px 13px;
			}
			.value {
				border-right: 1px solid #ddd;
				padding: 6px 4px 6px 0px;
			}	
			.mixer-column {
				&:nth-child(2n+3) {
					background: #eee;
				}
			}	
		}
		&--by-compositions {
			.value {
				border-bottom: 1px solid #ddd;
				border-right: 1px solid #ddd;
				padding: 6px 4px 6px 8px;
				&.mk {
					border-left: 5px solid #969c28;
				}
				&.kk {
					border-left: 5px solid #f37136;
				}
				&.ok {
					border-left: 5px solid #009688;
				}
			}
			.mixer-column {
				&:nth-child(2n+3) {
					background: #eee;
				}
			}	
		}
	}
}