<div class="ration-edit" layout="column">
    <md-tabs flex class="ration-view-content">
        <md-tab label="ПАРАМЕТРЫ">
            <md-content class="ration-info" layout="row">
                <section flex="33" layout="column" 
                    class="md-padding"
                    ng-repeat="controls in rationEdit.general.controls">
                    <md-input-container class="ration-property" 
                        ng-repeat="(key, data) in controls"
                        ng-class="{booleanProperty : data.isBoolean, required: data.isRequired}" >
                        <!-- LABEL -->
                        <label class="property-name" ng-if="!data.isBoolean">
                            {{data.label + (data.dimension ? (', ' + data.dimension) : '')}}
                        </label>
                        <!-- SELECT -->
                        <md-select ng-if="data.isEnum && data.key === 'rationType'" ng-disabled="data.isDisabled" 
                            ng-model="rationEdit.general.initialItem[data.key]">
                            <md-option ng-repeat="type in rationEdit.rationTypes" ng-value="type.value">
                                {{type.name}}
                            </md-option>
                        </md-select>
                        <!-- INPUT NUMBER -->
                        <input ng-disabled="data.isDisabled" ng-if="data.isNumber" 
                            ng-change="rationEdit.update()"
                            ng-model="rationEdit.general.initialItem[data.key]" 
                            type="number"/>
                        <!-- INPUT DATE -->
                        <md-datepicker class="date-picker" ng-if="data.isDate" ng-disabled="data.isDisabled" 
                            ng-model="rationEdit.general.initialItem[data.key]">
                        </md-datepicker>
                        <!-- INPUT OTHER -->
                        <input ng-disabled="data.isDisabled" ng-if="!data.isBoolean && !data.isNumber && !data.isEnum && !data.isDate" 
                            ng-model="rationEdit.general.initialItem[data.key]"/>
                    </md-input-container>
                </section>
            </md-content>
        </md-tab>
        <md-tab label="СОСТАВ">
            <md-content class="md-padding composition" flex layout="column" id="composition">
                <div class="composition-title" layout="row">
                    <div class="component-index" flex="2">
                        #
                    </div>
                    <div class="component-name" flex="">
                        Компонент
                        <ng-md-icon ng-if="rationEdit.sa" icon="add_box" class="add-component" ng-click="rationEdit.addComponent()">
                            <md-tooltip md-direction="bottom">
                                Добавить новый компонент
                            </md-tooltip>
                        </ng-md-icon>
                    </div>
                    <div class="" flex="15">
                        Цена, руб./кг.
                    </div>
                    <div class="" flex="15">
                        СВ в 1 кг, кг.
                    </div>
                    <div class="" flex="10">
                        Вес, кг.
                    </div>
                    <div class="" flex="10">
                        Доля, %.
                    </div>
                </div>  
                <div ng-if="rationEdit.composition.initialItem.length" class="scroll-wrapper" flex>
                    <div class="composition-item" layout="row" 
                        ng-repeat="component in rationEdit.composition.initialItem track by $index">
                        <div class="component-index" flex="2" ng-class="{sa: rationEdit.sa}">
                            <span>{{component.number}}</span>
                            <ng-md-icon ng-if="rationEdit.sa" icon="delete_forever" ng-click="rationEdit.removeComponent(component)" class="remove-item">
                                <md-tooltip md-direction="bottom">
                                    Удалить компонент
                                </md-tooltip>
                            </ng-md-icon>
                        </div>
                        <div class="component-name" flex="">
                            <input ng-model="component.name" class="{{component.componentType}}"/>
                            <md-select ng-disabled="!rationEdit.sa" ng-model="component.componentType" class="component-type" ng-change="rationEdit.update();">
                                <md-option ng-repeat="type in rationEdit.feedTypes" ng-value="type.value">
                                    {{type.name}}
                                </md-option>
                            </md-select>
                        </div>
                        <div class="" flex="15">
                            <input type="number" ng-model="component.price" 
                                ng-blur="rationEdit.update()"/>
                        </div>
                        <div class="" flex="15">
                            <input type="number" ng-model="component.dryMaterial"
                                ng-blur="rationEdit.update()"/>
                        </div>
                        <div class="component-value" flex="10">
                            <input type="number" 
                                ng-disabled="component.componentType !== 'mk' || !rationEdit.sa" 
                                ng-blur="rationEdit.update()"
                                ng-model="component.value"/>
                        </div>
                        <div class="" flex="10">
                            <input type="number" 
                                ng-disabled="!rationEdit.sa" 
                                ng-model="component.proportion" 
                                ng-blur="rationEdit.update()" 
                                ng-if="component.componentType !== 'mk'"/>
                        </div>
                    </div>
                </div>  
                <div class="empty-ration" ng-if="!rationEdit.composition.initialItem.length" flex>
                    <md-button class="md-raised md-primary" ng-click="rationEdit.addComponent()">добавить компонент</md-button>
                </div>
                <div class="error-box" ng-if="rationEdit.error">
                    {{rationEdit.error}}
                </div>
            </md-content>
        </md-tab>

        <md-tab label="РАЗДАЧА">
            <md-content class="md-padding ration-info distribution" flex layout="row" 
                ng-class="{'error': rationEdit.distributionError}"
                id="distribution">
                <div layout="column" flex="20">

                    <md-input-container class="ration-property">
                        <label class="property-name">Общий вес корма, кг</label>
                        <input type="number" ng-disabled="true" ng-model="rationEdit.distribution.initialItem.totalWeight"/>
                    </md-input-container>

                    <md-input-container class="ration-property">
                        <label class="property-name">Размер миксера, кг</label>
                        <input type="number" ng-change="rationEdit.update();" ng-model="rationEdit.distribution.initialItem.mixerSize"/>
                    </md-input-container>

                    <div class="distribution-item" layout="row" 
                        ng-repeat="item in rationEdit.distribution.initialItem.ratio track by $index">
                        <md-input-container class="ration-property">
                            <label class="property-name">Раздача #0{{$index + 1}}, %</label>
                            <input type="number" ng-change="rationEdit.update();" ng-model="rationEdit.distribution.initialItem.ratio[$index]"/>
                        </md-input-container>
                        <ng-md-icon  icon="clear" class="remove-item" ng-click="rationEdit.removeDistributionItem($index)">
                            <md-tooltip md-direction="bottom">
                                Удалить раздачу
                            </md-tooltip>
                        </ng-md-icon>
                    </div>

                    <p class="error" ng-if="rationEdit.distributionError">{{rationEdit.distributionError}}</p>

                    <md-button class="md-raised" ng-click="rationEdit.addDistrubutionItem()">
                        добавить раздачу
                    </md-button>

                </div>
                <div class="distribution-grid" flex>
                    <div layout="row" class="distribution-grid--title">
                        <div flex="50" class="first">РАЗДАЧИ</div>
                        <div flex class="text-center mixer-column" 
                            ng-repeat="item in rationEdit.distribution.initialItem.ratio track by $index">
                            #0{{$index + 1}}, {{item}}%
                        </div>
                    </div>
                    <div layout="row" class="distribution-grid--by-mixer">
                        <div flex="50" class="first">МИКСЕРА, (кг)</div>
                        <div flex layout="row" class="mixer-column"
                            ng-repeat="mixers in rationEdit.distribution.initialItem.byMixers track by $index">
                            <div class="value" flex layout="row" ng-repeat="mixer in mixers track by $index">
                                <label class="text-center" flex>{{mixer}}</label>
                            </div>  
                        </div>
                    </div>
                    <div layout="row" class="distribution-grid--by-compositions">
                        <div flex="50">
                            <div ng-repeat="component in rationEdit.composition.initialItem track by $index" 
                                class="text-left value {{component.componentType}}">
                                {{component.name}}, (кг)
                            </div>
                        </div>
                        <div flex class="mixer-column"
                            ng-repeat="allDistributions in rationEdit.distribution.initialItem.byCompositions">
                            <div layout="row">
                                <div flex ng-repeat="ditribution in allDistributions">
                                    <div layout="row" ng-repeat="item in ditribution track by $index" class="text-right value">
                                        <div flex="50" class="text-center">{{item[0]}}</div>
                                        <div flex="50" class="text-center">{{item[1]}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
    <!-- ACTIONS -->
    <div class="ration-edit-actions" layout="row" layout-align="center left" layout-sm="column" layout-wrap="">
        <md-button class="md-raised" ng-click="rationEdit.cancel()">
            Отмена
        </md-button>
        <md-button class="md-raised md-primary" 
            ng-disabled="rationEdit.error || rationEdit.distributionError" 
            ng-click="rationEdit.save()">
            Сохранить
        </md-button>
    </div>
</div>