.h-100 {
  height: 100%;
  overflow: hidden; }

md-tab-content > div {
  height: 100%; }

.ration-view {
  padding: 0 20px;
  height: 100%; }
  .ration-view .ration-title {
    padding: 10px 0px 10px 4px; }
    .ration-view .ration-title b {
      margin: 15px 20px 0 0px; }
    .ration-view .ration-title .ration-type {
      background-color: #2196F3;
      color: #fff;
      border-radius: 3px;
      padding: 6px 8px;
      height: 26px;
      margin: auto 20px auto 0;
      text-transform: uppercase;
      font-size: 12px; }
    .ration-view .ration-title .ration-target {
      background-color: #009688;
      color: #fff;
      border-radius: 3px;
      padding: 6px 8px;
      height: 26px;
      margin: auto 14px auto 0;
      text-transform: uppercase;
      font-size: 12px; }
    .ration-view .ration-title h2 {
      margin: auto; }
  .ration-view .ration-view-content ul.ration-info {
    padding: 0 20px;
    margin: 0;
    font-size: 12px; }
    .ration-view .ration-view-content ul.ration-info li {
      padding: 4px 0; }
      .ration-view .ration-view-content ul.ration-info li label {
        min-width: 80px;
        text-align: right;
        margin-right: 10px;
        color: rgba(0, 0, 0, 0.54); }
  .ration-view .ration-view-content table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px; }
    .ration-view .ration-view-content table th {
      color: rgba(0, 0, 0, 0.54); }
    .ration-view .ration-view-content table tr {
      align-items: stretch; }
      .ration-view .ration-view-content table tr.total {
        font-weight: 700; }
      .ration-view .ration-view-content table tr td, .ration-view .ration-view-content table tr th {
        min-width: 120px;
        border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
        text-align: right;
        padding: 12px 18px; }
        .ration-view .ration-view-content table tr td:first-child, .ration-view .ration-view-content table tr th:first-child {
          width: 20px;
          min-width: 20px; }
        .ration-view .ration-view-content table tr td.feed-name, .ration-view .ration-view-content table tr th.feed-name {
          width: 100%;
          text-align: left; }
        .ration-view .ration-view-content table tr td.property-name, .ration-view .ration-view-content table tr th.property-name {
          width: 100%;
          text-align: left; }
        .ration-view .ration-view-content table tr td p, .ration-view .ration-view-content table tr th p {
          padding: 0;
          margin: 4px 0 0 0;
          font-size: 11px;
          color: rgba(0, 0, 0, 0.54); }
    .ration-view .ration-view-content table tbody tr:hover {
      background-color: #F0F0F0; }
  .ration-view .ration-view-content .composition {
    font-size: 12px;
    text-align: right;
    height: 100%; }
    .ration-view .ration-view-content .composition .scroll-wrapper {
      overflow: auto; }
    .ration-view .ration-view-content .composition md-tab-content > div,
    .ration-view .ration-view-content .composition md-content {
      height: 100%;
      overflow: hidden; }
    .ration-view .ration-view-content .composition .component-index {
      width: 40px;
      text-align: left; }
    .ration-view .ration-view-content .composition .component-name {
      text-align: left;
      padding-left: 1em; }
      .ration-view .ration-view-content .composition .component-name a {
        color: #3f51b5; }
    .ration-view .ration-view-content .composition .composition-title {
      font-size: 12px;
      padding-bottom: 1em;
      border-bottom: 2px solid #fdae39; }
      .ration-view .ration-view-content .composition .composition-title div:first-child {
        padding-left: 16px; }
      .ration-view .ration-view-content .composition .composition-title div:last-child {
        padding-right: 16px; }
    .ration-view .ration-view-content .composition .composition-total {
      padding-top: 12px;
      font-size: 16px;
      text-align: right;
      font-weight: bold; }
    .ration-view .ration-view-content .composition .composition-item {
      padding: 12px 0;
      border-bottom: 2px solid #fff; }
      .ration-view .ration-view-content .composition .composition-item div:first-child {
        padding-left: 16px; }
      .ration-view .ration-view-content .composition .composition-item div:last-child {
        padding-right: 16px; }
      .ration-view .ration-view-content .composition .composition-item:hover {
        background-color: #fff; }
      .ration-view .ration-view-content .composition .composition-item .rate {
        font-weight: bold;
        font-size: 14px; }
      .ration-view .ration-view-content .composition .composition-item.mk .component-name:before {
        content: "MK";
        display: inline-block;
        background-color: #969c28;
        border-radius: 4px;
        font-size: 10px;
        padding: 2px 6px;
        color: #f0f0f0;
        margin-right: 0.5em; }
      .ration-view .ration-view-content .composition .composition-item.kk .component-name:before {
        content: "KK";
        display: inline-block;
        background-color: #f37136;
        border-radius: 4px;
        font-size: 10px;
        padding: 2px 6px;
        color: #f0f0f0;
        margin-right: 0.5em; }
      .ration-view .ration-view-content .composition .composition-item.ok .component-name:before {
        content: "OK";
        display: inline-block;
        background-color: #009688;
        border-radius: 4px;
        font-size: 10px;
        padding: 2px 6px;
        color: #f0f0f0;
        margin-right: 0.5em; }
