.md-autocomplete-suggestions-container {
	width: 300px;

	.md-autocomplete-suggestions {
		li {
			height: 60px;
			line-height: 60px;
			.item-title, .item-storage {
				display: block;
				line-height: 2;
				margin: 0;
				padding: 0;
			}

			p {
				font-size: 12px;
				color: rgba(0,0,0,.54);
			}
		}
	}
}

.ration {
	height: 100%;
	.list-header {
		.add-ration-button {
			margin: 0.2em .5em;
		}
	}
	
	.ration-list {
		font-size: 12px;
	    overflow: auto;
	    padding-top: 0;

		.ration-item {
			cursor: pointer;
			background-color: #fff;
			border-bottom: 1px solid #eee;
			padding: 0 12px;
			&:hover {
				background-color: #f0f0f0;
			}
			&.done {
				background-color: #ddd;
				.ration-target,
				.ration-type {
					opacity: 0.5;
				}

			}
			&.selected {
				background-color: #BBDEFB !important;
			}
			
			button {
				&.md-no-style {
					min-height: 68px;
				} 
			}
			.md-list-item-text {
				margin: 16px 0 6px 0;
				width: 100%;
			}

			b {
				color: #666;
			}

			span {
				line-height: 1.8em;
			}
			.first-line {
				.ration-uid {
					max-width: 40px;
					width: 40px;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.ration-type {
					margin: 0 8px;
					
				    color: #fff;
				    padding: 4px 8px;
				    border-radius: 3px;
				    text-transform: uppercase;
				    font-size: 10px;
					line-height: 1.3em;
					height: 2em;

					&.milk {
						background-color: #2196F3;
					}
					&.dry {
						background-color: #f18364;
					}
					&.young {
						background-color: #429a1c;
					}

				}
				.ration-target {
					background-color: #009688;
				    color: #fff;
				    padding: 1px 8px;
				    border-radius: 3px;
				    font-size: 10px;
				}
			}
			.second-line {
				margin: 12px 0 10px;
				color: #3f51b5;
				font-size: 16px;
			}
			.third-line {
				span {
					font-size: 10px;
					color: #555;
					padding-right: 8px;
				}
				
			}
			.last-line {
				font-weight: bold;
			}
		}
	}

	.edit-mode {
		.module-name {
			text-align: center;
			font-size: 14px;
		}
	}

	.dashboard-card {
		&__title {
			line-height: 1em;
			position: relative;
			h2 {
				margin: 0 1em;
				padding-top: 4px;
			}
			b {
				padding-top: 4px;
				line-height: 20px;
			}
			.ration-type {
				background-color: #2196F3;
				color: #fff;
				padding: 4px 8px;
				border-radius: 3px;
				text-transform: uppercase;
				margin-right: 1em;
			}
			.ration-date {
				padding-top: 5px;
			}
			.toogle-chart-btn {
				position: absolute;
				right: -4px;
				top: -4px;
			}
		}
	}
}