<div class="ration" layout="row">
    <md-card class="navigator" flex="20" md-theme="default" layout="column" md-theme-watch="">
        <section class="navigator__list" ng-if="!ration.editMode" layout="column">
            <div class="list-header">
                <!-- HEADER -->
                <div layout="row">
                    <div class="module-name" flex>
                        Рационы
                        <span class="ration-amount" ng-if="ration.rationItems.length">
                            ({{::ration.rationItems.length}})
                        </span>
                    </div>
                    <md-button class="md-fab md-mini md-primary add-ration-button" 
                        ng-if="ration.sa"
                        ng-click="ration.addRation()">
                        <md-tooltip md-direction="bottom">
                            Добавить новый рацион
                        </md-tooltip>
                        <ng-md-icon class="add-icon" icon="plus_one" size="24">
                        </ng-md-icon>
                    </md-button>
                </div>
            </div>
            <md-list flex class="ration-list">
                <md-list-item class="ration-item" 
                    ng-repeat="rationItem in ration.rationItems"
                    ng-class="{'done': rationItem.endDate}">
                    <div class="md-list-item-text" layout="column" ng-click="ration.onRationClick(rationItem)">
                        <div class="first-line" layout="row">
                            <span class="ration-uid">
                                <b>#{{rationItem.number}}</b>
                            </span>
                            <span class="ration-type {{rationItem.rationType}}">{{rationItem.rationTypeName}}</span>
                            <span class="ration-target" ng-if="rationItem.rationType === 'milk'">
                                {{rationItem.actualProductivity}} литра
                            </span>
                        </div>
                        <div layout="row" class="second-line name">
                            {{rationItem.name}}
                        </div>
                        <div class="third-line" layout="row">
                            <span ng-if="rationItem.dryMaterialConsumption">
                                СВ: {{rationItem.dryMaterialConsumption}} кг
                            </span>
                            <span ng-if="rationItem.rationPrice">
                                {{rationItem.rationPrice}} руб.
                            </span>
                            <span ng-if="rationItem.ratio">
                                {{rationItem.ratio || ''}}
                            </span>
                        </div>
                        <div class="last-line" layout="row">
                            {{rationItem.startDate | date}}
                        </div>
                    </div>
                </md-list-item>
                <md-divider>
                </md-divider>
            </md-list>
        </section>
        <section ng-if="ration.editMode" class="edit-mode feed" layout="column">
            <div class="list-header">
                <!-- HEADER -->
                <div layout="row">
                    <div class="module-name" flex>
                        Выберите корма для рациона
                    </div>
                </div>
            </div>
            <md-list flex class="feed-list">
                <md-list-item class="md-3-line feed-item" 
                    ng-repeat="feedItem in ration.feedItems"
                    ng-disabled="feed.isDisabled(feedItem)"
                    ng-class="{opened: feedItem.opened}">
                    <div class="md-list-item-text" ng-click="ration.onAddFeed(feedItem)" >
                        <div layout="row" class="first-row">
                            <b class="year" flex>
                                {{feedItem.year}}
                            </b>
                            <i ng-if="feedItem.icon" class="feed-type-icon" ng-class="feedItem.icon"></i>
                            <span ng-if="feedItem.totalWeight" class="weight weight-control" 
                                ng-class="{opened: feedItem.opened, done: feedItem.done}">
                                <span class="balance">
                                    {{feedItem.balanceWeight || '?'}}
                                    <md-tooltip md-direction="bottom">осталось тонн</md-tooltip>
                                </span>
                                <span class="total">
                                    {{feedItem.totalWeight}}
                                    <md-tooltip md-direction="bottom">всего тонн</md-tooltip>
                                </span>
                            </span>
                        </div>
                        <div layout="row">
                            <p class="title" flex="">
                                {{feedItem.name}}
                            </p>
                        </div>
                        <div layout="row">
                            <p class="composition" flex="">
                                {{feedItem.feedType ? feedItem.feedType + ': ' + feedItem.composition : feedItem.composition}}
                            </p>
                        </div>
                        <div layout="row">
                            <p class="source" ng-if="feedItem.branch" flex>
                                {{feedItem.branch}}
                            </p>
                            <p class="source">
                                {{feedItem.storage}}
                            </p>
                        </div>
                    </div>
                </md-list-item>
                <md-divider>
                </md-divider>
            </md-list>
        </section>
        
    </md-card>
    <md-card class="dashboard" flex md-theme="default" md-theme-watch="" ui-view="" layout="column">
        <md-content layout-padding="" flex>
            
            <!--div ng-if="!ration.dashboard.currentRations.length" class="text-center">
                <br/><br/><br/>
                У Вас нет рационов в прогрессе на данный момент
                <br/><br/>
                <md-button  
                    class="md-primary" 
                    md-no-ink="" 
                    ng-click="ration.addRation()">
                    добавить рацион
                </md-button>
            </div>

            md-button ng-repeat="action in ::ration.dashboard.actions" 
                class="md-primary" 
                md-no-ink="" 
                ng-click="ration[action.key]()" >
                {{action.label}}
            </md-button-->
            <h2 class="text-center">Текущие рационы</h2>
            <div layout="row" class="mt-4 mb-4">
                <label>Выберите показатель рациона</label>
                <div flex class="ml-4 ">
                    <md-select class="dashboard__select--chart" ng-if="ration.charts.length" ng-model="ration.currentChart">
                        <md-option ng-repeat="chart in ration.charts" ng-value="chart" ng-click="ration.setChart(chart)">
                            {{chart.label}}
                            {{chart.dimension ? ' (' + chart.dimension + ')' : '' }}
                        </md-option>
                    </md-select>
                </div>
            </div>
            
            <md-card class="dashboard-card all-rations" layout-padding="">
                <div layout="row" class="dashboard-card__title"></div>
                <div id="milk-rations"></div>
            </md-card>
        </md-content>
    </md-card>
</div>
