<div class="ration" layout="row">
    <md-card class="navigator" flex="20" md-theme="default" layout="column" md-theme-watch="">
        <div class="list-header">
            <!-- HEADER -->
            <div layout="row">
                <div class="module-name" flex>
                    Рационы
                    <span class="ration-amount" ng-if="ration.rationItems.length">
                        ({{::ration.rationItems.length}})
                    </span>
                </div>
            </div>
        </div>
        <md-list flex class="ration-list">
            <md-list-item class="md-3-line ration-item" 
                ng-repeat="rationItem in ration.rationItems"
                ng-class="{'done': !rationItem.inProgress}">
                <div class="md-list-item-text" layout="column" ng-click="ration.onRationClick(rationItem)">
                    <div class="first-line" layout="row">
                        <span class="ration-uid">
                            <b>#{{rationItem.number}}</b>
                        </span>
                        <span class="ration-type">{{rationItem.rationType}}</span>
                        <span class="ration-target">
                            {{rationItem.estimatedProductivity}} литра
                        </span>
                        
                    </div>
                    <div layout="row" class="second-line name">
                            {{rationItem.name}}
                    </div>
                    <div layout="row" class="third-line">
                        <span class="ration-weight" flex>
                            <b>СВ: {{rationItem.dryMaterialConsumption}} кг</b>
                        </span>
                        <span class="ration-date">
                            {{rationItem.start}}
                        </span>
                    </div>
                </div>
            </md-list-item>
            <md-divider>
            </md-divider>
        </md-list>
    </md-card>
    <md-card class="dashboard" flex md-theme="default" md-theme-watch="" ui-view="">
        <md-content layout-padding="">
            
        </md-content>
    </md-card>
</div>
