<div class="field" layout="row">
    <md-card class="navigator" flex="20" md-theme="default" layout="column" md-theme-watch="">
        <section>
            <div class="list-header">
                <div layout="row">
                    <div class="module-name" flex>
                        Поля
                        <span class="field-amount" ng-if="field.fieldItems.length">
                            (01)
                        </span>
                    </div>
                    <md-button class="md-fab md-mini md-primary add-ration-button" ng-click="field.addField()">
                        <md-tooltip md-direction="bottom">
                            Добавить новое поле
                        </md-tooltip>
                        <ng-md-icon class="add-icon" icon="plus_one" size="24">
                        </ng-md-icon>
                    </md-button>
                </div>
            </div>
            <md-list flex class="field-list">
                <md-list-item class="md-3-line field-item" 
                    ng-repeat="item in field.fields">
                    <div class="md-list-item-text" layout="column" ng-click="field.onFiledClick(item)">
                        <div class="first-line" layout="row">
                            <p flex>{{item.cadastral}}</p>
                            <span class="analysis-length">
                                <i aria-hidden="true" class="fa fa-flask"></i>
                                {{item.analysis}}
                            </span>
                            <p>{{item.square}} ГА</p>
                        </div>
                        <div class="second-line" layout="row">
                            <span class="field-name">{{item.name}}</span>
                        </div>
                        <div class="third-line" layout="row">
                            <p>{{item.currentSeed.year}}</p>
                            <span class="type">{{item.currentSeed.type}}</span>
                        </div>
                    </div>
                </md-list-item>
                <md-divider>
                </md-divider>
            </md-list>
        </section>
    </md-card>
    <md-card class="dashboard" flex="80" md-theme="default" md-theme-watch="" ui-view="">
        
    </md-card>
</div>