.ration-edit {
  border: 3px solid #fdae39;
  padding: 0 20px;
  height: 100%;
  color: #212121; }
  .ration-edit .ration-sub-title {
    margin: 1em 0 0 0;
    border-bottom: 2px solid #fdae39; }
    .ration-edit .ration-sub-title h2 {
      color: #212121;
      font-size: 16px;
      margin-bottom: 1em; }
  .ration-edit .ration-info {
    font-size: 12px;
    background: transparent; }
    .ration-edit .ration-info input {
      font-family: Montserrat,sans-serif; }
    .ration-edit .ration-info .ration-property {
      margin-bottom: 0px; }
      .ration-edit .ration-info .ration-property._md-datepicker-has-calendar-icon .property-name {
        left: 40px !important; }
      .ration-edit .ration-info .ration-property .date-picker {
        width: 100%;
        display: inline-block;
        padding: 0px;
        margin: 0px; }
        .ration-edit .ration-info .ration-property .date-picker .md-datepicker-button {
          margin: 0 0 0 -10px; }
        .ration-edit .ration-info .ration-property .date-picker .md-datepicker-input-container {
          width: calc(100% - 40px); }
      .ration-edit .ration-info .ration-property.required label {
        color: #ff5722; }
  .ration-edit .ration-view-content {
    overflow: auto; }
    .ration-edit .ration-view-content .composition {
      font-size: 12px;
      text-align: right;
      background-color: #fdfdfd; }
      .ration-edit .ration-view-content .composition .scroll-wrapper {
        overflow: auto; }
      .ration-edit .ration-view-content .composition .component-index {
        width: 40px;
        text-align: left; }
      .ration-edit .ration-view-content .composition .component-name {
        text-align: left; }
        .ration-edit .ration-view-content .composition .component-name input.ok {
          border-left: 5px solid #009688; }
        .ration-edit .ration-view-content .composition .component-name input.kk {
          border-left: 5px solid #f37136; }
        .ration-edit .ration-view-content .composition .component-name input.mk {
          border-left: 5px solid #969c28; }
        .ration-edit .ration-view-content .composition .component-name a {
          color: #3f51b5; }
      .ration-edit .ration-view-content .composition .composition-title {
        font-size: 11px;
        padding: 1em 0;
        border-bottom: 2px solid #fdae39; }
        .ration-edit .ration-view-content .composition .composition-title > div {
          padding: 0 8px;
          line-height: 2em; }
        .ration-edit .ration-view-content .composition .composition-title div:first-child {
          padding-left: 16px; }
        .ration-edit .ration-view-content .composition .composition-title div:last-child {
          padding-right: 16px; }
        .ration-edit .ration-view-content .composition .composition-title .add-component {
          color: #3f51b5;
          margin-left: 1em;
          cursor: pointer; }
      .ration-edit .ration-view-content .composition .composition-item {
        padding: 8px 0;
        border-bottom: 2px solid #fff;
        line-height: 3em; }
        .ration-edit .ration-view-content .composition .composition-item input::-webkit-outer-spin-button,
        .ration-edit .ration-view-content .composition .composition-item input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0; }
        .ration-edit .ration-view-content .composition .composition-item input[type=number] {
          -moz-appearance: textfield;
          /* Firefox */
          text-align: right; }
        .ration-edit .ration-view-content .composition .composition-item input {
          border: none;
          width: 100%;
          padding: 10px 6px;
          border-bottom: 1px solid #fdae39;
          background-color: #fff;
          color: #555;
          font-family: Montserrat,sans-serif; }
        .ration-edit .ration-view-content .composition .composition-item .component-name {
          position: relative;
          padding-right: 80px; }
          .ration-edit .ration-view-content .composition .composition-item .component-name input {
            width: 100%; }
          .ration-edit .ration-view-content .composition .composition-item .component-name .component-type {
            margin: 0;
            position: absolute;
            top: -4px;
            right: 8px; }
            .ration-edit .ration-view-content .composition .composition-item .component-name .component-type .md-select-value {
              min-width: 50px;
              border-bottom-color: #fdae39; }
        .ration-edit .ration-view-content .composition .composition-item .component-index .remove-item {
          display: none;
          cursor: pointer;
          color: #ff5722;
          padding-top: 8px;
          margin-left: -6px; }
        .ration-edit .ration-view-content .composition .composition-item input:disabled {
          background-color: #eee;
          border: none; }
        .ration-edit .ration-view-content .composition .composition-item > div {
          padding: 0 8px; }
        .ration-edit .ration-view-content .composition .composition-item > div:first-child {
          padding-left: 16px; }
        .ration-edit .ration-view-content .composition .composition-item > div:last-child {
          padding-right: 16px; }
        .ration-edit .ration-view-content .composition .composition-item:hover {
          background-color: #fff; }
          .ration-edit .ration-view-content .composition .composition-item:hover .component-index.sa span {
            display: none; }
          .ration-edit .ration-view-content .composition .composition-item:hover .component-index.sa .remove-item {
            display: block; }
        .ration-edit .ration-view-content .composition .composition-item.mk .component-name:before {
          content: "MK";
          display: inline-block;
          background-color: #969c28;
          border-radius: 4px;
          font-size: 10px;
          padding: 2px 6px;
          color: #f0f0f0;
          margin-right: 0.5em; }
        .ration-edit .ration-view-content .composition .composition-item.kk .component-name:before {
          content: "KK";
          display: inline-block;
          background-color: #f37136;
          border-radius: 4px;
          font-size: 10px;
          padding: 2px 6px;
          color: #f0f0f0;
          margin-right: 0.5em; }
        .ration-edit .ration-view-content .composition .composition-item.ok .component-name:before {
          content: "OK";
          display: inline-block;
          background-color: #009688;
          border-radius: 4px;
          font-size: 10px;
          padding: 2px 6px;
          color: #f0f0f0;
          margin-right: 0.5em; }
      .ration-edit .ration-view-content .composition .empty-ration {
        text-align: center;
        margin: 5em 0; }
      .ration-edit .ration-view-content .composition .error-box {
        position: absolute;
        bottom: 5em;
        right: 5em;
        width: 250px;
        font-size: 12px;
        text-align: left;
        line-height: 1.5em;
        background-color: #fefefe;
        color: #ff5722;
        border: 2px solid #ff5722;
        border-radius: 4px;
        padding: 4px 8px;
        opacity: 0.8; }
  .ration-edit .ration-edit-actions {
    border-top: 3px solid #fdae39;
    padding: 6px 0; }
  .ration-edit .distribution .distribution-item {
    border: 1px solid #ccc;
    padding: 0 0.6em;
    border-radius: 5px;
    margin-bottom: 1em;
    position: relative; }
    .ration-edit .distribution .distribution-item .remove-item {
      right: 5px;
      top: 5px;
      position: absolute;
      cursor: pointer;
      color: #ff5722; }
  .ration-edit .distribution.error .distribution-item {
    border-color: #ff5722; }
  .ration-edit .distribution p.error {
    color: #ff5722; }
  .ration-edit .distribution-grid {
    padding: 0 0 0 2em; }
    .ration-edit .distribution-grid--title {
      border-bottom: 1px solid #ddd;
      font-weight: bold; }
      .ration-edit .distribution-grid--title .first {
        font-weight: bold; }
      .ration-edit .distribution-grid--title div {
        border-right: 1px solid #ddd;
        padding: 6px 4px 6px 13px; }
      .ration-edit .distribution-grid--title .mixer-column:nth-child(2n+3) {
        background: #eee; }
    .ration-edit .distribution-grid--by-mixer {
      border-bottom: 1px solid #ddd;
      font-weight: bold; }
      .ration-edit .distribution-grid--by-mixer .first {
        font-weight: bold;
        border-right: 1px solid #ddd;
        padding: 6px 4px 6px 13px; }
      .ration-edit .distribution-grid--by-mixer .value {
        border-right: 1px solid #ddd;
        padding: 6px 4px 6px 0px; }
      .ration-edit .distribution-grid--by-mixer .mixer-column:nth-child(2n+3) {
        background: #eee; }
    .ration-edit .distribution-grid--by-compositions .value {
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding: 6px 4px 6px 8px; }
      .ration-edit .distribution-grid--by-compositions .value.mk {
        border-left: 5px solid #969c28; }
      .ration-edit .distribution-grid--by-compositions .value.kk {
        border-left: 5px solid #f37136; }
      .ration-edit .distribution-grid--by-compositions .value.ok {
        border-left: 5px solid #009688; }
    .ration-edit .distribution-grid--by-compositions .mixer-column:nth-child(2n+3) {
      background: #eee; }
