
@import "../../variables";
.ration-view {
	height: 100%;
	color: #212121;
	.ration-title {
		padding: .5em 1em 0 1em;
		b {
			margin: 15px 20px 0 0px;
		}
		h2 {
			margin: auto;
		}
		.ration-type {
		    color: #fff;
		    border-radius: 3px;
		    padding: 6px 8px;
		    height: 26px;
		    margin: auto 20px auto 0;
		    text-transform: uppercase;
			font-size: 12px;
			
			&.milk {
				background-color: #2196F3;
			}
			&.dry {
				background-color: #f18364;
			}
			&.young {
				background-color: #429a1c;
			}
		}
		.delete-btn {
			min-width: 40px;
			width: 40px;
		}
	}
	.ration-sub-title {
		margin: 1em 0 0 0;
		border-bottom: 2px solid $orange;
		h2 {
			color: #212121;
			font-size: 16px;
			margin-bottom: 6px;
		}
	}
	.ration-info {
		font-size: 12px;
		background: transparent;
		label {
			display: inline-block;
			color: #555;
			padding: 8px 0;
			font-size: 12px;
			text-align: right;
			margin-right: 2em;
		}
		span {
			display: inline-block;
			color: #222;
			padding: 8px 0;

		}
	}
	.ration-view-content {
		overflow: auto;
		height: calc(100% - 59px) !important;
    	min-height: calc(100% - 59px) !important;
		.composition {
			font-size: 12px;
			text-align: right;
			background-color: #fdfdfd;
			.scroll-wrapper {
				overflow: auto;
			}
			.component-index {
				width: 40px;
				text-align: left;
			}
			.component-name {
				text-align: left;
				a {
					color: #3f51b5;
				}
			}
			.composition-title {
				font-size: 11px;
				padding: 1em 0;
				border-bottom: 2px solid $orange;
				&>div {
					padding: 0 8px;
				}
				div:first-child {
					padding-left: 16px;
				}
				div:last-child {
					padding-right: 16px;
				}
			}
			.composition-item {
				padding: 8px 0;
				border-bottom: 2px solid #fff;
				&>div {
					padding: 0 8px;
				}
				div:first-child {
					padding-left: 16px;
				}
				div:last-child {
					padding-right: 16px;
				}
				&:hover {
					background-color: #fff;
				}
				.rate {
					font-weight: bold;
					font-size: 14px;
				}
				&.mk {
					.component-name {
						&:before {
							content: "MK";
							display: inline-block;
							background-color: #969c28;
							border-radius: 4px;
							font-size: 10px;
							padding: 2px 6px;
							color: #f0f0f0;
							margin-right: 0.5em;
						}
					}
				}
				&.kk {
					.component-name {
						&:before {
							content: "KK";
							display: inline-block;
							background-color: #f37136;
							border-radius: 4px;
							font-size: 10px;
							padding: 2px 6px;
							color: #f0f0f0;
							margin-right: 0.5em;
						}
					}
				}
				&.ok {
					.component-name {
						&:before {
							content: "OK";
							display: inline-block;
							background-color: #009688;
							border-radius: 4px;
							font-size: 10px;
							padding: 2px 6px;
							color: #f0f0f0;
							margin-right: 0.5em;
						}
					}
				}
			}
		}
	}

	.distribution {
		background: none;
		.distribution-grid {
			font-size: 12px;
			&--title {
				border-bottom: 1px solid #ddd;
				font-weight: bold;
				.first {
					font-weight: bold;
				}
				div {
					border-right: 1px solid #ddd;
					padding: 6px 4px 6px 13px;
				}
				.mixer-column {
					&:nth-child(2n+3) {
						background: #eee;
					}
				}	
			}
			&--by-mixer {
				border-bottom: 1px solid #ddd;
				font-weight: bold;
				.first {
					font-weight: bold;
					border-right: 1px solid #ddd;
					padding: 6px 4px 6px 13px;
				}
				.value {
					border-right: 1px solid #ddd;
					padding: 6px 4px 6px 0px;
				}	
				.mixer-column {
					&:nth-child(2n+3) {
						background: #eee;
					}
				}	
			}
			&--by-compositions {
				.value {
					border-bottom: 1px solid #ddd;
					border-right: 1px solid #ddd;
					padding: 6px 4px 6px 8px;
					&.mk {
						border-left: 5px solid #969c28;
					}
					&.kk {
						border-left: 5px solid #f37136;
					}
					&.ok {
						border-left: 5px solid #009688;
					}
				}
				.mixer-column {
					&:nth-child(2n+3) {
						background: #eee;
					}
				}	
			}
		}
	}

	.history {
		background: none;
	}
}


.ration-view.print {
	background-color: #fff; 
	font-size: 12px;
	a, ul, li {
		padding: 0;
		margin: 0;
		color: #000;
		background-color: #fff;
		text-decoration: none;
	}
	.composition {
		.layout-row {
			border-bottom: 1px solid #999;
			.component-index {
				margin-right: 1em;
			}
		}
	}
	.layout-row {
		padding: 4px 0;
	}
	.break {
		page-break-after: always;
	}
}