<div class="ration-view" layout="column">
    <div class="ration-title" layout="row">
        <b>#201</b>
        <div class="ration-type">
            раздой
        </div>
        <span class="ration-target">
            38 литров
        </span>
        <h2 class="ration-name" flex="">
            Высокопродуктивные 1 группа.
        </h2>
        <div class="actions">
            <md-button ng-click="">
                редактировать
            </md-button>
        </div>
    </div>
    <div class="ration-view-content" flex layout="column">
        <md-tabs flex md-dynamic-height="false">
            <md-tab label="Состав" class="h-100">
                <md-content class="md-padding h-100">
                    <div class="composition" flex="" layout="column">
                        <div class="composition-title" layout="row">
                            <div class="component-index" flex="2">
                                #
                            </div>
                            <div class="component-name" flex="30">
                                Компонент
                            </div>
                            <div class="" flex="">
                                Доля, кг.
                            </div>
                            <div class="" flex="">
                                СВ в 1 кг, кг.
                            </div>
                            <div class="" flex="">
                                Итого СВ, кг.
                            </div>
                            <div class="" flex="">
                                Цена руб/кг
                            </div>
                            <div class="" flex="">
                                Цена рациона, руб.
                            </div>
                        </div>  
                        <div class="scroll-wrapper" flex>
                            <div ng-class="component.type" class="composition-item" layout="row" ng-repeat="component in rationView.components">
                                <div class="component-index" flex="2">
                                    {{component.index}}
                                </div>
                                <div class="component-name" flex="30">
                                    <a href="#">{{component.name}}</a>  
                                </div>
                                <div class="rate" flex="">
                                    {{component.rate}}
                                </div>
                                <div class="" flex="">
                                    {{component.dryMatrial}}
                                </div>
                                <div class="" flex="">
                                    {{component.totalDryMaterial}}
                                </div>
                                <div class="" flex="">
                                    {{component.priceKilo}}
                                </div>
                                <div class="" flex="">
                                    {{component.priceTotal}}
                                </div>
                            </div>
                        </div>
                        <div class="composition-total" layout="row">
                                <div class="component-index" flex="2">
                                </div>
                                <div class="component-name" flex="30">
                                </div>
                                <div class="" flex="">
                                    61.930
                                </div>
                                <div class="" flex="">
                                </div>
                                <div class="" flex="">
                                    26.536
                                </div>
                                <div class="" flex="">
                                    
                                </div>
                                <div class="" flex="">
                                    260.56
                                </div>
                        </div>  
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Параметры">
                <md-content class="md-padding">
                    <div class="properties" flex="">
                        <p>Живой вес: 600 кг</p>
                        <p>Жирность молока: 4,20 %</p>
                        <p>Белок: 3,30 %</p>
                        <p>Соотношение ОК:КК: - 60.1% : 39.9%</p>
                        <p>Содержание СВ: 40.2%</p>
                        <p>Итого СВ: 26.536 кг</p>
                        <p>Итого цена: 260.56 руб</p>
                        <p>Цена литра молока по кормам: 6.85 руб</p>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
        <!--ul class="ration-info">
            <li class="property" layout="row">
                <label>
                    Имя
                </label>
                <div class="value" flex="">
                    20-100 дней, двор 6
                </div>
            </li>
            <li class="property" layout="row">
                <label>
                    Тип
                </label>
                <div class="value" flex="">
                    раздой
                </div>
            </li>
            <li class="property" layout="row">
                <label>
                    Цель
                </label>
                <div class="value" flex="">
                    32 литра
                </div>
            </li>
            
            <li class="property" layout="row">
                <label>
                    Вес коровы
                </label>
                <div class="value" flex="">
                    600 кг.
                </div>
            </li>
        </ul-->
        <!--div class="properties" flex="40">
            <ul>
                <li flex class="header" layout="row">
                    <span flex>Параметры</span>
                    <span>Ед.</span>
                    <span>Мин.</span>
                    <span>Содержание</span>
                    <span>Макс.</span>
                </li>
                <li flex layout="row">
                    <span flex>Сухое вещество</span>
                    <span>г</span>
                    <span></span>
                    <span>21586</span>
                    <span>2200</span>
                </li>
                <li flex layout="row">
                    <span flex>Влажность</span>
                    <span>%</span>
                    <span>45</span>
                    <span>58.5</span>
                    <span>60</span>
                </li>
            </ul>
        </div-->
    </div>
</div>